@use '../abstracts/_variables';
.big-header {
    font-family: $font-roboto;
    font-size: $big-header-size;
    font-weight: $big-header-weight;
    letter-spacing: $big-header-spacing;
    @media (max-width: 443px) {
        font-size: 36px;
    }
}

.normal-text {
    font-family: $font-roboto;
    font-size: $normal-font-size;
    color: $normal-font-color;
    @media (max-width: 443px) {
        font-size: 17px;
    }
}

.completed-star {
    color: #F2C94C;
}

.unCompleted-star {
    color: #E0E0E0;
}

.coursecompleted {
    position: relative;
    &::after {
        content: url('/src/images/completed.png');
        position: absolute;
        top: -7px;
        right: 15px;
    }
}